@font-face {
  font-family: 'museo_sans_cyrl500';
  src: url("../fonts/museosanscyrl/museosanscyrl-500.eot");
  src: url("../fonts/museosanscyrl/museosanscyrl-500.eot?#iefix") format("embedded-opentype"), url("../fonts/museosanscyrl/museosanscyrl-500.woff2") format("woff2"), url("../fonts/museosanscyrl/museosanscyrl-500.woff") format("woff"), url("../fonts/museosanscyrl/museosanscyrl-500.ttf") format("truetype"), url("../fonts/museosanscyrl/museosanscyrl-500.svg#museo_sans_cyrl500") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'robotolight';
  src: url("../fonts/roboto/roboto-light.eot");
  src: url("../fonts/roboto/roboto-light.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-light.woff2") format("woff2"), url("../fonts/roboto/roboto-light.woff") format("woff"), url("../fonts/roboto/roboto-light.ttf") format("truetype"), url("../fonts/roboto/roboto-light.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'pf_agora_serif_promedium';
  src: url("../fonts/pfagoraserifpro/pfagoraserifpro-medium.eot");
  src: url("../fonts/pfagoraserifpro/pfagoraserifpro-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/pfagoraserifpro/pfagoraserifpro-medium.woff2") format("woff2"), url("../fonts/pfagoraserifpro/pfagoraserifpro-medium.woff") format("woff"), url("../fonts/pfagoraserifpro/pfagoraserifpro-medium.ttf") format("truetype"), url("../fonts/pfagoraserifpro/pfagoraserifpro-medium.svg#pf_agora_serif_promedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'pf_agora_serif_probold';
  src: url("../fonts/pfagoraserifpro/pfagoraserifpro-bold.eot");
  src: url("../fonts/pfagoraserifpro/pfagoraserifpro-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/pfagoraserifpro/pfagoraserifpro-bold.woff2") format("woff2"), url("../fonts/pfagoraserifpro/pfagoraserifpro-bold.woff") format("woff"), url("../fonts/pfagoraserifpro/pfagoraserifpro-bold.ttf") format("truetype"), url("../fonts/pfagoraserifpro/pfagoraserifpro-bold.svg#pf_agora_serif_probold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/ico/icomoon.eot?-b5kfpn");
  src: url("../fonts/ico/icomoon.eot?#iefix-b5kfpn") format("embedded-opentype"), url("../fonts/ico/icomoon.ttf?-b5kfpn") format("truetype"), url("../fonts/ico/icomoon.woff?-b5kfpn") format("woff"), url("../fonts/ico/icomoon.svg?-b5kfpn#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-ico-4:before {
  content: "\e600"; }

.icon-ico-2:before {
  content: "\e601"; }

.icon-ico-3:before {
  content: "\e602"; }

.icon-ico-32:before {
  content: "\e603"; }

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

.fix-width {
  width: 1280px;
  margin: 0 auto; }

.header {
  background: url("../img/header-bg.jpg") no-repeat center 100px;
  background-size: cover;
  height: 496px;
  position: relative; }
  .header .header__logo {
    display: block;
    padding-top: 42px;
    width: 160px;
    margin-left: 54px;
    float: left; }
  .header .header__contacts {
    font-family: 'museo_sans_cyrl500';
    float: right;
    width: 460px;
    padding-top: 6px; }
  .header .header__title {
    font-family: 'pf_agora_serif_promedium';
    font-size: 72px;
    color: #fff;
    text-align: center;
    width: 881px;
    text-transform: uppercase;
    margin: 177px auto 0;
    letter-spacing: .015em; }
  .header .header__geo {
    background: url("../img//geo-ico.png") no-repeat left top;
    float: left;
    padding-left: 20px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    margin-top: 44px;
    line-height: 22px; }
  .header .header__phone {
    float: right;
    margin-right: 52px; }
  .header .header__phone-number {
    font-size: 32px;
    color: #fff;
    margin-bottom: 10px; }
    .header .header__phone-number .header__phone-number_lower {
      font-size: 24px; }
  .header .header__callback {
    font-family: 'museo_sans_cyrl500';
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dotted #fff;
    margin-left: 2px; }
    .header .header__callback:hover {
      border-bottom: none; }
  .header .header__bottom-line {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15px;
    background: url("../img/ft.png") no-repeat center top; }
    .header .header__bottom-line .header__bottom-line-left {
      background: #fff;
      height: 15px;
      width: 50%;
      position: absolute;
      left: -18px; }
    .header .header__bottom-line .header__bottom-line-right {
      background: #fff;
      height: 15px;
      width: 50%;
      position: absolute;
      right: -18px; }

.good-house .good-house__left-block {
  background: url("../img/good-house-bg.png") no-repeat right 62px;
  height: 510px;
  width: 50%;
  float: left; }
.good-house .good-house__right-block {
  width: 570px;
  float: left;
  padding-top: 12px;
  padding-left: 14px; }
.good-house .good-house__title {
  font-family: 'pf_agora_serif_promedium';
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 0.04em;
  color: #383838;
  margin-bottom: 26px; }
.good-house .good-house__sub-title {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: lighter;
  line-height: 36px;
  margin-bottom: 34px; }
.good-house .good-house__p, .good-house .good-house__ul {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-bottom: 20px; }
.good-house .good-house__ul {
  list-style: none;
  padding: 0; }
.good-house .good-house__li {
  margin-bottom: 20px; }

.feedback {
  background: #c9dfe4;
  height: 254px; }

.footer {
  background: #333333;
  height: 157px; }
  .footer .footer__grid {
    width: 33.33333%;
    height: 100px;
    float: left; }
  .footer .footer__coptright {
    font-family: 'robotolight';
    color: #fff;
    padding-top: 35px; }
  .footer .footer__coptright-year, .footer .footer__coptright-description {
    margin-left: 98px;
    font-size: 12px;
    letter-spacing: .05em;
    margin-bottom: 20px; }
  .footer .footer__contacts {
    padding-top: 26px; }
  .footer .footer__phone-number {
    font-family: 'robotolight';
    color: #fff;
    font-size: 18px;
    margin-left: 20px;
    margin-left: 168px;
    line-height: 26px; }
  .footer .footer__callback {
    font-family: 'museo_sans_cyrl500';
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dotted #fff;
    margin-left: 170px; }
    .footer .footer__callback:hover {
      border-bottom: none; }
  .footer .footer__webprofy-element {
    vertical-align: top;
    padding-top: 38px;
    line-height: 34px;
    color: #fff;
    font-size: 12px;
    margin-left: 196px; }
  .footer .footer__webprofy-link {
    font-family: 'Roboto';
    font-size: 12px;
    color: #fff;
    vertical-align: top;
    line-height: 34px; }
    .footer .footer__webprofy-link:hover {
      text-decoration: none; }

.popup-form {
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 999999;
  display: none; }
  .popup-form .popup-form__form {
    width: 420px;
    height: 334px;
    margin-left: -210px;
    margin-top: -167px;
    position: absolute;
    left: 50%;
    top: 20%;
    background: #c2d7dc;
    padding-top: 42px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px; }
  .popup-form .popup-form__close {
    background: url("../img/popup-form-close.png") no-repeat;
    width: 11px;
    height: 11px;
    position: absolute;
    right: 12px;
    top: 12px; }
    .popup-form .popup-form__close:hover {
      cursor: pointer; }
  .popup-form .popup-form__title {
    font-family: 'pf_agora_serif_promedium';
    font-size: 34px;
    color: #438594;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px; }
  .popup-form .popup-form__input {
    font-family: 'robotolight';
    color: #888;
    font-size: 18px;
    display: block;
    width: 314px;
    height: 46px;
    margin: 0 auto;
    border: none;
    text-align: center;
    margin-bottom: 28px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px; }
  .popup-form .popup-form__send-button {
    background: #0095cf;
    font-family: 'pf_agora_serif_probold';
    font-size: 22px;
    display: block;
    width: 314px;
    height: 48px;
    margin: 40px auto 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: middle;
    line-height: 48px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px; }
  .popup-form .popup-form__success {
    display: none;
    text-align: center;
    font-family: 'robotolight';
    font-size: 22px;
    color: #303030;
    padding-top: 18px; }

/*# sourceMappingURL=main.css.map */
