@font-face {
	font-family: 'icomoon';
	src:url('../fonts/ico/icomoon.eot?-b5kfpn');
	src:url('../fonts/ico/icomoon.eot?#iefix-b5kfpn') format('embedded-opentype'),
		url('../fonts/ico/icomoon.ttf?-b5kfpn') format('truetype'),
		url('../fonts/ico/icomoon.woff?-b5kfpn') format('woff'),
		url('../fonts/ico/icomoon.svg?-b5kfpn#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-ico-4:before {
	content: "\e600";
}
.icon-ico-2:before {
	content: "\e601";
}
.icon-ico-3:before {
	content: "\e602";
}
.icon-ico-32:before {
	content: "\e603";
}



